# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
# You can either use PlanetScale(MySQL) or neon.tech (Postgres); for neon, sample endpoint would be postgres://mharrvic:xxxxx@ep-xx-xxxx-xxxxx.ap-southeast-1.aws.neon.tech/search
DATABASE_URL=

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=

# Update this endpoint if deployed
NEXTAUTH_URL=http://localhost:3000

# Next Auth Google Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# https://beta.openai.com/account/api-keys
OPENAI_API_KEY=

# https://app.pinecone.io/organizations
PINECONE_API_KEY=

# Creat an index first; put 1534 for dimension; copy the endpoint from the index dashboard, something like semantic-search-xxxxxx.svc.us-west1-gcp.pinecone.io
PINECONE_BASE_URL=
